In [1]:
import numpy as np
import pandas as pd

In [2]:
!mkdir -p data
!kaggle datasets download -d grouplens/movielens-20m-dataset -p data/ --unzip

Downloading movielens-20m-dataset.zip to data
 99%|███████████████████████████████████████▋| 194M/195M [00:03<00:00, 71.8MB/s]
100%|████████████████████████████████████████| 195M/195M [00:03<00:00, 65.0MB/s]

In [31]:
ratings = pd.read_csv('./data/rating.csv')
ratings.shape

(20000263, 4)

In [32]:
ratings.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [33]:
ratings.userId.nunique()

138493

In [34]:
min(ratings.userId), max(ratings.userId)

(1, 138493)

In [35]:
ratings.userId = ratings.userId - 1

In [36]:
min(ratings.userId), max(ratings.userId), ratings.userId.nunique()

(0, 138492, 138493)

In [37]:
print(f'The unique number of movies is {ratings.movieId.nunique()}\nThe minimum of movie is is {min(ratings.movieId)} and the maximum of movie id is {max(ratings.movieId)}')

The unique number of movies is 26744
The minimum of movie is is 1 and the maximum of movie id is 131262

In [38]:
movie2Idx = {movieId:idx for idx, movieId in enumerate(ratings.movieId.unique())}
movie2Idx

{2: 0,
 29: 1,
 32: 2,
 47: 3,
 50: 4,
 112: 5,
 151: 6,
 223: 7,
 253: 8,
 260: 9,
 293: 10,
 296: 11,
 318: 12,
 337: 13,
 367: 14,
 541: 15,
 589: 16,
 593: 17,
 653: 18,
 919: 19,
 924: 20,
 1009: 21,
 1036: 22,
 1079: 23,
 1080: 24,
 1089: 25,
 1090: 26,
 1097: 27,
 1136: 28,
 1193: 29,
 1196: 30,
 1198: 31,
 1200: 32,
 1201: 33,
 1208: 34,
 1214: 35,
 1215: 36,
 1217: 37,
 1219: 38,
 1222: 39,
 1240: 40,
 1243: 41,
 1246: 42,
 1249: 43,
 1258: 44,
 1259: 45,
 1261: 46,
 1262: 47,
 1266: 48,
 1278: 49,
 1291: 50,
 1304: 51,
 1321: 52,
 1333: 53,
 1348: 54,
 1350: 55,
 1358: 56,
 1370: 57,
 1374: 58,
 1387: 59,
 1525: 60,
 1584: 61,
 1750: 62,
 1848: 63,
 1920: 64,
 1967: 65,
 1994: 66,
 1997: 67,
 2021: 68,
 2100: 69,
 2118: 70,
 2138: 71,
 2140: 72,
 2143: 73,
 2173: 74,
 2174: 75,
 2193: 76,
 2194: 77,
 2253: 78,
 2288: 79,
 2291: 80,
 2542: 81,
 2628: 82,
 2644: 83,
 2648: 84,
 2664: 85,
 2683: 86,
 2692: 87,
 2716: 88,
 2761: 89,
 2762: 90,
 2804: 91,
 2872: 92,
 2918: 93,
 2944: 94,
 2947: 95,
 2959: 96,
 2968: 97,
 3000: 98,
 3030: 99,
 3037: 100,
 3081: 101,
 3153: 102,
 3265: 103,
 3438: 104,
 3476: 105,
 3479: 106,
 3489: 107,
 3499: 108,
 3889: 109,
 3932: 110,
 3996: 111,
 3997: 112,
 4011: 113,
 4027: 114,
 4105: 115,
 4128: 116,
 4133: 117,
 4226: 118,
 4306: 119,
 4446: 120,
 4467: 121,
 4571: 122,
 4720: 123,
 4754: 124,
 4878: 125,
 4896: 126,
 4911: 127,
 4915: 128,
 4941: 129,
 4980: 130,
 4993: 131,
 5026: 132,
 5039: 133,
 5040: 134,
 5146: 135,
 5171: 136,
 5540: 137,
 5679: 138,
 5797: 139,
 5816: 140,
 5898: 141,
 5952: 142,
 5999: 143,
 6093: 144,
 6242: 145,
 6333: 146,
 6502: 147,
 6539: 148,
 6754: 149,
 6755: 150,
 6774: 151,
 6807: 152,
 6834: 153,
 6888: 154,
 7001: 155,
 7045: 156,
 7046: 157,
 7153: 158,
 7164: 159,
 7247: 160,
 7387: 161,
 7389: 162,
 7438: 163,
 7449: 164,
 7454: 165,
 7482: 166,
 7757: 167,
 8368: 168,
 8482: 169,
 8507: 170,
 8636: 171,
 8690: 172,
 8961: 173,
 31696: 174,
 3: 175,
 62: 176,
 70: 177,
 110: 178,
 242: 179,
 266: 180,
 469: 181,
 480: 182,
 891: 183,
 908: 184,
 1121: 185,
 1210: 186,
 1270: 187,
 1327: 188,
 1356: 189,
 1544: 190,
 1580: 191,
 1673: 192,
 1748: 193,
 1965: 194,
 1969: 195,
 1970: 196,
 1971: 197,
 1972: 198,
 1973: 199,
 1974: 200,
 1986: 201,
 2454: 202,
 2455: 203,
 2791: 204,
 2858: 205,
 2948: 206,
 2951: 207,
 3150: 208,
 3159: 209,
 3173: 210,
 3450: 211,
 3513: 212,
 3534: 213,
 3555: 214,
 3565: 215,
 3703: 216,
 3753: 217,
 3917: 218,
 3918: 219,
 3923: 220,
 3926: 221,
 3927: 222,
 3928: 223,
 3930: 224,
 3937: 225,
 3959: 226,
 1: 227,
 24: 228,
 160: 229,
 173: 230,
 175: 231,
 196: 232,
 316: 233,
 329: 234,
 440: 235,
 442: 236,
 457: 237,
 490: 238,
 512: 239,
 610: 240,
 718: 241,
 780: 242,
 788: 243,
 858: 244,
 904: 245,
 905: 246,
 953: 247,
 968: 248,
 1037: 249,
 1060: 250,
 1073: 251,
 1077: 252,
 1084: 253,
 1094: 254,
 1103: 255,
 1125: 256,
 1127: 257,
 1129: 258,
 1179: 259,
 1188: 260,
 1197: 261,
 1199: 262,
 1206: 263,
 1213: 264,
 1220: 265,
 1221: 266,
 1225: 267,
 1228: 268,
 1230: 269,
 1242: 270,
 1247: 271,
 1257: 272,
 1272: 273,
 1276: 274,
 1288: 275,
 1307: 276,
 1330: 277,
 1345: 278,
 1372: 279,
 1373: 280,
 1375: 281,
 1376: 282,
 1396: 283,
 1603: 284,
 1653: 285,
 1674: 286,
 1676: 287,
 1721: 288,
 1762: 289,
 1779: 290,
 1810: 291,
 1831: 292,
 1876: 293,
 1882: 294,
 1909: 295,
 1917: 296,
 1921: 297,
 2009: 298,
 2011: 299,
 2012: 300,
 2018: 301,
 2028: 302,
 2034: 303,
 2046: 304,
 2053: 305,
 2054: 306,
 2076: 307,
 2093: 308,
 2105: 309,
 2117: 310,
 2150: 311,
 2236: 312,
 2311: 313,
 2329: 314,
 2366: 315,
 2371: 316,
 2391: 317,
 2407: 318,
 2428: 319,
 2448: 320,
 2505: 321,
 2528: 322,
 2529: 323,
 2530: 324,
 2531: 325,
 2532: 326,
 2533: 327,
 2541: 328,
 2551: 329,
 2567: 330,
 2571: 331,
 2574: 332,
 2613: 333,
 2615: 334,
 2640: 335,
 2642: 336,
 2643: 337,
 2657: 338,
 2662: 339,
 2668: 340,
 2676: 341,
 2694: 342,
 2699: 343,
 2710: 344,
 2722: 345,
 2750: 346,
 2788: 347,
 2797: 348,
 2808: 349,
 2857: 350,
 2900: 351,
 2901: 352,
 2916: 353,
 2949: 354,
 2985: 355,
 2986: 356,
 3033: 357,
 3039: 358,
 3070: 359,
 3072: 360,
 3098: 361,
 3142: 362,
 5060: 363,
 6: 364,
 10: 365,
 19: 366,
 165: 367,
 350: 368,
 356: 369,
 368: 370,
 370: 371,
 377: 372,
 380: 373,
 420: 374,
 431: 375,
 454: 376,
 489: 377,
 519: 378,
 520: 379,
 531: 380,
 548: 381,
 586: 382,
 594: 383,
 596: 384,
 733: 385,
 11: 386,
 17: 387,
 60: 388,
 104: 389,
 140: 390,
 141: 391,
 150: 392,
 224: 393,
 235: 394,
 282: 395,
 364: 396,
 376: 397,
 475: 398,
 491: 399,
 500: 400,
 508: 401,
 515: 402,
 529: 403,
 587: 404,
 588: 405,
 590: 406,
 595: 407,
 608: 408,
 631: 409,
 648: 410,
 671: 411,
 708: 412,
 720: 413,
 736: 414,
 832: 415,
 1028: 416,
 1035: 417,
 1042: 418,
 1393: 419,
 7: 420,
 52: 421,
 135: 422,
 494: 423,
 628: 424,
 719: 425,
 743: 426,
 762: 427,
 802: 428,
 15: 429,
 16: 430,
 105: 431,
 122: 432,
 252: 433,
 271: 434,
 276: 435,
 339: 436,
 348: 437,
 351: 438,
 355: 439,
 357: 440,
 362: 441,
 425: 442,
 509: 443,
 539: 444,
 553: 445,
 597: 446,
 674: 447,
 750: 448,
 806: 449,
 852: 450,
 880: 451,
 899: 452,
 912: 453,
 914: 454,
 920: 455,
 922: 456,
 928: 457,
 932: 458,
 952: 459,
 1017: 460,
 1020: 461,
 1095: 462,
 1101: 463,
 1183: 464,
 1253: 465,
 1256: 466,
 1265: 467,
 1271: 468,
 1301: 469,
 1343: 470,
 1357: 471,
 1385: 472,
 1391: 473,
 1408: 474,
 1409: 475,
 1441: 476,
 1449: 477,
 1466: 478,
 1513: 479,
 1517: 480,
 1573: 481,
 1597: 482,
 1617: 483,
 1682: 484,
 1777: 485,
 1888: 486,
 1894: 487,
 1911: 488,
 1932: 489,
 1964: 490,
 2013: 491,
 2067: 492,
 2080: 493,
 2081: 494,
 2108: 495,
 2112: 496,
 2125: 497,
 2146: 498,
 2195: 499,
 2243: 500,
 2266: 501,
 2297: 502,
 2316: 503,
 2333: 504,
 2346: 505,
 2363: 506,
 2367: 507,
 2384: 508,
 2385: 509,
 2390: 510,
 2396: 511,
 2403: 512,
 2405: 513,
 2424: 514,
 2427: 515,
 2463: 516,
 2468: 517,
 2469: 518,
 2478: 519,
 2498: 520,
 2535: 521,
 2546: 522,
 2558: 523,
 2598: 524,
 2633: 525,
 2641: 526,
 2654: 527,
 2671: 528,
 2701: 529,
 2723: 530,
 2734: 531,
 2752: 532,
 2770: 533,
 2861: 534,
 2881: 535,
 2908: 536,
 2942: 537,
 2950: 538,
 2987: 539,
 2993: 540,
 3004: 541,
 3032: 542,
 3062: 543,
 3074: 544,
 3086: 545,
 3103: 546,
 3108: 547,
 3118: 548,
 3156: 549,
 3175: 550,
 3176: 551,
 3179: 552,
 3185: 553,
 3194: 554,
 3199: 555,
 3219: 556,
 3235: 557,
 3244: 558,
 3334: 559,
 3341: 560,
 3354: 561,
 3363: 562,
 3408: 563,
 3417: 564,
 3448: 565,
 3469: 566,
 3501: 567,
 3510: 568,
 3512: 569,
 3524: 570,
 3526: 571,
 3527: 572,
 3528: 573,
 3578: 574,
 3593: 575,
 3671: 576,
 3684: 577,
 3699: 578,
 3701: 579,
 3717: 580,
 3754: 581,
 3793: 582,
 3798: 583,
 3824: 584,
 3826: 585,
 3827: 586,
 3844: 587,
 3864: 588,
 3911: 589,
 3977: 590,
 3978: 591,
 3987: 592,
 3988: 593,
 3994: 594,
 4018: 595,
 4019: 596,
 4023: 597,
 4041: 598,
 4062: 599,
 4155: 600,
 4186: 601,
 4270: 602,
 4308: 603,
 4310: 604,
 4317: 605,
 4339: 606,
 4349: 607,
 4361: 608,
 4368: 609,
 4370: 610,
 4464: 611,
 4503: 612,
 4545: 613,
 4603: 614,
 4626: 615,
 4638: 616,
 4639: 617,
 4643: 618,
 4661: 619,
 4700: 620,
 4736: 621,
 4799: 622,
 4848: 623,
 4867: 624,
 4874: 625,
 4963: 626,
 4994: 627,
 4995: 628,
 5009: 629,
 21: 630,
 39: 631,
 48: 632,
 153: 633,
 161: 634,
 168: 635,
 172: 636,
 185: 637,
 207: 638,
 208: 639,
 231: 640,
 236: 641,
 277: 642,
 288: 643,
 292: 644,
 338: 645,
 344: 646,
 349: 647,
 353: 648,
 372: 649,
 381: 650,
 434: 651,
 527: 652,
 550: 653,
 551: 654,
 552: 655,
 592: 656,
 1923: 657,
 2279: 658,
 2605: 659,
 2688: 660,
 2706: 661,
 2719: 662,
 2840: 663,
 2841: 664,
 3016: 665,
 3785: 666,
 3857: 667,
 3908: 668,
 3979: 669,
 3999: 670,
 4022: 671,
 4030: 672,
 4034: 673,
 4148: 674,
 4369: 675,
 4483: 676,
 4502: 677,
 4509: 678,
 4519: 679,
 4533: 680,
 25: 681,
 969: 682,
 1204: 683,
 1250: 684,
 1960: 685,
 2058: 686,
 3107: 687,
 65: 688,
 145: 689,
 158: 690,
 170: 691,
 256: 692,
 286: 693,
 384: 694,
 405: 695,
 410: 696,
 441: 697,
 546: 698,
 611: 699,
 616: 700,
 673: 701,
 741: 702,
 761: 703,
 784: 704,
 828: 705,
 1029: 706,
 1032: 707,
 1046: 708,
 1064: 709,
 1093: 710,
 1168: 711,
 1169: 712,
 1255: 713,
 1274: 714,
 1320: 715,
 1339: 716,
 1367: 717,
 1432: 718,
 1527: 719,
 1591: 720,
 1688: 721,
 1690: 722,
 1862: 723,
 1961: 724,
 1977: 725,
 1982: 726,
 2004: 727,
 2023: 728,
 2042: 729,
 2107: 730,
 2123: 731,
 2124: 732,
 2134: 733,
 2153: 734,
 2232: 735,
 2240: 736,
 2294: 737,
 2313: 738,
 2355: 739,
 2378: 740,
 2420: 741,
 2572: 742,
 2600: 743,
 2717: 744,
 2720: 745,
 2793: 746,
 2810: 747,
 2827: 748,
 2990: 749,
 3054: 750,
 3083: 751,
 3113: 752,
 3114: 753,
 3213: 754,
 3247: 755,
 3269: 756,
 3300: 757,
 3396: 758,
 3525: 759,
 3535: 760,
 3697: 761,
 3702: 762,
 3704: 763,
 3745: 764,
 3752: 765,
 3863: 766,
 3892: 767,
 3897: 768,
 3969: 769,
 3980: 770,
 3991: 771,
 4006: 772,
 4015: 773,
 4052: 774,
 4054: 775,
 4232: 776,
 4235: 777,
 4246: 778,
 4262: 779,
 4299: 780,
 4340: 781,
 4343: 782,
 4366: 783,
 4388: 784,
 4492: 785,
 4718: 786,
 4792: 787,
 4850: 788,
 4868: 789,
 4887: 790,
 4973: 791,
 4974: 792,
 5046: 793,
 5151: 794,
 5152: 795,
 5219: 796,
 5220: 797,
 5225: 798,
 5266: 799,
 5283: 800,
 5299: 801,
 5323: 802,
 5349: 803,
 5377: 804,
 5378: 805,
 5400: 806,
 5444: 807,
 5445: 808,
 5459: 809,
 5463: 810,
 5502: 811,
 5618: 812,
 5669: 813,
 5782: 814,
 5882: 815,
 5903: 816,
 5971: 817,
 6016: 818,
 6094: 819,
 6250: 820,
 6264: 821,
 6281: 822,
 6283: 823,
 6287: 824,
 6291: 825,
 6294: 826,
 6365: 827,
 6377: 828,
 6378: 829,
 6383: 830,
 6503: 831,
 6534: 832,
 6537: 833,
 6541: 834,
 6548: 835,
 6586: 836,
 6624: 837,
 6659: 838,
 6711: 839,
 6731: 840,
 6795: 841,
 6863: 842,
 6874: 843,
 6934: 844,
 6953: 845,
 6979: 846,
 6996: 847,
 7022: 848,
 7099: 849,
 7163: 850,
 7173: 851,
 7254: 852,
 7293: 853,
 7345: 854,
 7361: 855,
 7439: 856,
 7444: 857,
 7458: 858,
 7481: 859,
 7541: 860,
 7845: 861,
 7846: 862,
 8169: 863,
 8361: 864,
 8371: 865,
 8578: 866,
 8622: 867,
 8640: 868,
 8641: 869,
 8644: 870,
 8800: 871,
 8810: 872,
 8861: 873,
 8865: 874,
 8870: 875,
 8907: 876,
 8965: 877,
 8972: 878,
 8973: 879,
 8977: 880,
 26462: 881,
 26509: 882,
 26887: 883,
 26913: 884,
 27311: 885,
 27338: 886,
 27368: 887,
 27441: 888,
 27608: 889,
 27660: 890,
 27728: 891,
 27793: 892,
 27865: 893,
 27904: 894,
 30707: 895,
 30793: 896,
 30812: 897,
 31184: 898,
 31429: 899,
 31553: 900,
 31555: 901,
 31658: 902,
 31660: 903,
 31878: 904,
 32031: 905,
 32213: 906,
 33085: 907,
 33166: 908,
 33493: 909,
 33585: 910,
 33660: 911,
 33679: 912,
 33794: 913,
 34048: 914,
 34150: 915,
 34319: 916,
 34334: 917,
 34338: 918,
 34542: 919,
 35836: 920,
 36401: 921,
 36509: 922,
 36931: 923,
 37380: 924,
 37386: 925,
 37830: 926,
 39446: 927,
 40339: 928,
 41566: 929,
 41569: 930,
 41571: 931,
 42718: 932,
 43419: 933,
 43556: 934,
 43928: 935,
 43932: 936,
 43936: 937,
 44189: 938,
 44191: 939,
 44225: 940,
 44731: 941,
 44828: 942,
 44849: 943,
 45361: 944,
 45499: 945,
 45722: 946,
 46530: 947,
 46578: 948,
 47124: 949,
 48304: 950,
 48394: 951,
 48516: 952,
 48738: 953,
 48774: 954,
 48943: 955,
 49205: 956,
 49278: 957,
 50162: 958,
 50442: 959,
 50872: 960,
 51412: 961,
 51662: 962,
 51666: 963,
 51698: 964,
 52281: 965,
 52287: 966,
 52328: 967,
 52722: 968,
 52885: 969,
 53000: 970,
 53125: 971,
 53464: 972,
 53953: 973,
 53996: 974,
 54001: 975,
 54278: 976,
 54771: 977,
 54995: 978,
 55190: 979,
 55232: 980,
 55282: 981,
 55603: 982,
 55999: 983,
 56003: 984,
 56145: 985,
 56174: 986,
 56251: 987,
 56757: 988,
 56801: 989,
 56949: 990,
 57223: 991,
 57368: 992,
 57509: 993,
 57640: 994,
 57949: 995,
 58025: 996,
 58293: 997,
 58559: 998,
 58652: 999,
 ...}

In [39]:
ratings['movie_idx'] = ratings.apply(lambda row: movie2Idx[row.movieId], axis=1)

In [40]:
ratings.head()

   userId  movieId  rating            timestamp  movie_idx
0       0        2     3.5  2005-04-02 23:53:47          0
1       0       29     3.5  2005-04-02 23:31:16          1
2       0       32     3.5  2005-04-02 23:33:39          2
3       0       47     3.5  2005-04-02 23:32:07          3
4       0       50     3.5  2005-04-02 23:29:40          4

In [41]:
print(f'The unique number of movies is {ratings.movie_idx.nunique()}\nThe minimum of movie is is {min(ratings.movie_idx)} and the maximum of movie id is {max(ratings.movie_idx)}')

The unique number of movies is 26744
The minimum of movie is is 0 and the maximum of movie id is 26743

In [42]:
ratings = ratings.drop(columns=['timestamp'])

In [43]:
ratings.head()

   userId  movieId  rating  movie_idx
0       0        2     3.5          0
1       0       29     3.5          1
2       0       32     3.5          2
3       0       47     3.5          3
4       0       50     3.5          4

In [44]:
ratings.to_csv('./data/edited_ratings.csv')

### Shrinking the data

* Select subset of users and movies
* Users who rated the most movies
* Movies that have been rated by the most users

In [45]:
N = ratings.userId.max() + 1 # Number of Users
M = ratings.movie_idx.max() + 1 # Number of movies

In [46]:
N, M

(138493, 26744)

In [47]:
from collections import Counter
user_ids_count = Counter(ratings.userId)
movie_ids_count = Counter(ratings.movie_idx)

In [48]:
n = 10000
m = 2000

In [56]:
user_ids = [u for u, c in user_ids_count.most_common(n)]
movie_ids = [m for m, c in movie_ids_count.most_common(m)]

In [57]:
ratings_small = ratings[ratings.userId.isin(user_ids) & ratings.movie_idx.isin(movie_ids)].copy()

In [58]:
ratings_small.shape

(5392025, 4)

In [59]:
new_user_id_map = {user_id:idx for idx, user_id in enumerate(ratings_small.userId.unique())}
new_movie_id_map = {movie_id:idx for idx, movie_id in enumerate(ratings_small.movie_idx.unique())}

In [60]:
ratings_small.loc[:, 'userId'] = ratings_small.apply(lambda row: new_user_id_map[row.userId], axis=1)
ratings_small.loc[:, 'movie_idx'] = ratings_small.apply(lambda row: new_movie_id_map[row.movie_idx], axis=1)

In [61]:
print(f'min user_id is {ratings_small.userId.min()} max user_id {ratings_small.userId.max()} unique userid are {ratings_small.userId.nunique()}')
print(f'min movie_id is {ratings_small.movie_idx.min()} max movie_id {ratings_small.movie_idx.max()} unique movie_ids are {ratings_small.movie_idx.nunique()}')

min user_id is 0 max user_id 9999 unique userid are 10000
min movie_id is 0 max movie_id 1999 unique movie_ids are 2000

In [62]:
ratings_small.shape

(5392025, 4)

### Table to Dictionary

* In code, I want to ask questions like
    * Given user i, which movies did they rate?
    * Given movie j, which users i have rated it ?
    * Given user i and movie j, what is the rating?
    * Given user i and movie j, what is the rating?
* Theoretically, pandas dataframe is like an SQL table, so we should be able to write queries to grab this info?
* I know SQL has indexes to make these lookups somewhat fast, but can pandas ?
* Python Dictionaries are already a key -> value lookup
* user2movie : user ID -> movie ID
* movie2user : movie ID -> user ID
* usermovie2rating : (user ID, movie ID) -> rating

why Dictionaries?
* Looping through the array would be $\Omicron(NM)$
* Looping through the dictionary is $\Omicron(|\Omega|)$
$\Omega$ is the length of the set of ratings

In [63]:
N = ratings_small.userId.max()
M = ratings_small.movie_idx.max()

In [64]:
N, M

(9999, 1999)

##### Train Test Split

In [66]:
from sklearn.utils import shuffle

In [67]:
ratings_small = shuffle(ratings_small)

In [68]:
ratings_small.head()

          userId  movieId  rating  movie_idx
14777855    7407     3052     4.5        559
2148134     1108     3178     3.5        956
2105276     1088     2728     5.0        912
19355755    9685     2973     4.0       1134
12838400    6422     1097     4.0         75

Train set size = 80%

Test set size = 20%

In [77]:
test_split = 0.2
test_set_size = int(test_split * len(ratings_small))
print(f'The test set size would be {test_set_size}')

The test set size would be 1078405

In [103]:
train_data = ratings_small.iloc[:-test_set_size]
train_data.shape

(4313620, 4)

In [104]:
test_data = ratings_small.iloc[-test_set_size:]
test_data.shape

(1078405, 4)

##### Dictionary Creation

In [105]:
user2movie = {}
movie2user = {}
usermovie2rating = {}

In [106]:
count = 0
def updateDictionaries(row):
    global count
    count += 1
    if count % 100000 == 0:
        print(f'Processed: {(float(count)/train_data.shape[0]):.3f}')

    i = int(row.userId)
    j = int(row.movie_idx)

    if i not in user2movie:
        user2movie[i] = [j]
    else:
        user2movie[i].append(j)

    if j not in movie2user:
        movie2user[j] = [i]
    else:
        movie2user[j].append(i)

    usermovie2rating[(i, j)] = row.rating

In [107]:
train_data.apply(updateDictionaries, axis=1)

Processed: 0.023
Processed: 0.046
Processed: 0.070
Processed: 0.093
Processed: 0.116
Processed: 0.139
Processed: 0.162
Processed: 0.185
Processed: 0.209
Processed: 0.232
Processed: 0.255
Processed: 0.278
Processed: 0.301
Processed: 0.325
Processed: 0.348
Processed: 0.371
Processed: 0.394
Processed: 0.417
Processed: 0.440
Processed: 0.464
Processed: 0.487
Processed: 0.510
Processed: 0.533
Processed: 0.556
Processed: 0.580
Processed: 0.603
Processed: 0.626
Processed: 0.649
Processed: 0.672
Processed: 0.695
Processed: 0.719
Processed: 0.742
Processed: 0.765
Processed: 0.788
Processed: 0.811
Processed: 0.835
Processed: 0.858
Processed: 0.881
Processed: 0.904
Processed: 0.927
Processed: 0.950
Processed: 0.974
Processed: 0.997

14777855    None
2148134     None
2105276     None
19355755    None
12838400    None
            ...
7079332     None
7878054     None
18924272    None
5240381     None
8747797     None
Length: 4313620, dtype: object

In [108]:
usermovie2rating_test = {}

In [109]:
count = 0
def update_usermovie2rating_test(row):
    global count
    count += 1
    if count % 100000 == 0:
        print(f'Processed: {(float(count)/test_data.shape[0]):.3f}')

    i = int(row.userId)
    j = int(row.movie_idx)

    usermovie2rating_test[(i, j)] = row.rating

In [110]:
test_data.apply(update_usermovie2rating_test, axis=1)

Processed: 0.093
Processed: 0.185
Processed: 0.278
Processed: 0.371
Processed: 0.464
Processed: 0.556
Processed: 0.649
Processed: 0.742
Processed: 0.835
Processed: 0.927

31527       None
6823081     None
144473      None
6672992     None
16219646    None
            ...
6150908     None
17454016    None
9147648     None
6433127     None
5127603     None
Length: 1078405, dtype: object

### Saving Dictionaries as Binary files using Pickle

In [112]:
import pickle

In [113]:
with open('user2movie_dict', 'wb') as f:
    pickle.dump(user2movie, f)

with open('movie2user_dict', 'wb') as f:
    pickle.dump(movie2user, f)

with open('usermovie2rating_dict', 'wb') as f:
    pickle.dump(usermovie2rating, f)

with open('usermovie2rating_test_dict', 'wb') as f:
    pickle.dump(usermovie2rating_test, f)